body {
    text-align: ;
    color: ;
    background-color: #fff;
    margin: ;
    padding: ;
    transition: ;
    transform: ;
    text-decoration: ;
    font-size: ;
    font-weight: ;
    font-style: ;
    text-transform: ;
    border: ;
    display: ;
    box-sizing: ;
    position: ;
    z-index: ;
    vertical-align: ;
    justify-content: ;
    flex-direction: ;
    align-items: ;
    flex-wrap: ;
    transform: ;
    transition: ;
    :hover
    :active
    :focus
    ::after
    ::before
    :nth-child()
    order: ;
    flex-flow: ;
    align-content: ;
    align-self: ;
    grid-area: ;
    grid-column: ;
    grid-row: ;
    grid-template-areas: grid-row-start, grid-column-start, grid-row-end, followed by grid-column-end. ;
    grid-template: ;
}   