@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  overflow: hidden;
}

.header {
  position: relative;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 10px 70px;
  height: 50px;
  background-color: #212121;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav ul a {
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  /* 100% */
}

.subheader {
  margin-top: 50px;
  height: 87px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.606);
  position: absolute;
  width: 100%;
}
.subheader .subheader_logo {
  max-width: 100%;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

.subheader_call {
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.subheader_call a {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.subheader .subheader_button {
  width: 172px;
  height: 46px;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
}

.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url(/src/img/uber_bg.jpg) center center/cover no-repeat;
}
.promo .promo_header {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}
.promo .promo_header span {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.promo .promo_subheader {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 115px;
}
.promo .promo_btn {
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
}

.reason {
  height: 850px;
  padding: 20px 0 64px 0;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: black;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.reason h2 {
  margin-bottom: 30px;
  color: #222;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 126.316% */
  text-transform: uppercase;
}
.reason .reason_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reason .reason_txt {
  width: 371px;
  height: 150px;
  color: #202020;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 30px;
}
.reason .reason_txt span {
  color: #1EACC7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.reason .round {
  /* margin-bottom: 60px; */
  width: 116px;
  height: 116px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #1EACC7;
}

.mobile_app {
  padding: 64px 0 77px 0;
  min-height: 864px;
  background-image: url(/src/img/mobile_bg.jpg);
}
.mobile_app h2 {
  color: #222;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.mobile_app .mobile_subheader {
  margin-bottom: 30px;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.mobile_app .mobile_item {
  position: relative;
  padding: 82px 0 34px 0;
  width: 320px;
  height: 280px;
  margin-bottom: 19px;
}
.mobile_app .mobile_item_1 {
  background: url(/src/icons/Карточка\ 1.jpg);
}
.mobile_app .mobile_item_2 {
  background: url(/src/icons/Карточка\ 2.jpg);
}
.mobile_app .mobile_item_3 {
  background: url(/src/icons/Карточка\ 3.jpg);
}
.mobile_app .mobile_item_4 {
  background: url(/src/icons/Карточка\ 4.jpg);
}
.mobile_app .mobile_item_5 {
  background: url(/src/icons/Карточка\ 5.jpg);
}
.mobile_app .mobile_item_6 {
  background: url(/src/icons/Карточка\ 6.jpg);
}
.mobile_app .mobile_item_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}
.mobile_app .mobile_item_plus {
  position: absolute;
  bottom: 34px;
  left: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  background-color: black;
}

.capabilities {
  min-height: 967px;
  padding: 54px 0 138px 0;
}
.capabilities .label {
  background-color: white;
  color: #070716;
}
.capabilities h2 {
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  text-transform: uppercase;
}
.capabilities_subheader {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 123.529% */
}

/*# sourceMappingURL=style.css.map */